body{
	font-family: 'Roboto', sans-serif;
}
/*Typography*/
.actev{
	color:green!important;
	font-weight: bold;
}
/*Header Part*/
.logo-box{
	background-color:#fff!important;
}
.top-menu a{
	color:#000!important;
}
.search{
	width: 500px;
	position: relative;
	top: 17px;
	left: 102px;
}

/*Left Side Menu*/
.left-side-menu{
	background-color:#3D3D3F!important;
	color:#fff!important;
}
#sidebar-menu a{
	padding: 10px 18px;
	font-size: 16px!important;
	font-weight: lighter;
}
.sidebar-menu img{
	margin-right:3px;
}

/*Content*/
.pan .right-part h3{
	margin:0!important;
}
.pan .right-part p{
	margin:0!important;
}
.orders-section a{
	padding: 0 20px;
	color: #000;
}

/*Message Section*/
.contact p{
	margin-bottom:4px!important;
}

/*Wishlist*/
.wish-list-product .row{
	margin-bottom:10px;
	border-bottom:1px dashed #ddd;
}

/*Transcation*/
.transaction-body img {
	width: 50px;
	display: block;
}
.transaction-body p{
	margin-bottom:0px!important;
}
.cart-li{
	margin-left: 306px;
	margin-top: 12px;
	width:40px!important;
}
.profile{
	background-color:green!important;
	padding-bottom:5px;
}
.left-side-menu{
	top:50px!important;
}

/*Order Section*/
.orders-section .table tr td p{
	margin-bottom:0px!important;
}
